.error {
  color: red;
  text-align: center;
}

.add-comment {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.post-btn {
  font-size: 0.8em;
  padding: 5px 10px;
}
.del-btns{
  background-color: white;
  font-size: small;
  color: black;
}

.rep-btns{
  background-color: white;
  font-size: small;
  color: black;
}

.subs-btns{
  background-color: white;
  font-size: small;
  color: black;
}

.cans-btns{
  background-color: white;
  font-size: small;
  color: black;
}
.blog-read-container h1{
  color: rgb(20, 18, 18);
  font-size: x-large;
}