.create-blog-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
  
}

.create-blog-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.create-blog-container form {
  display: flex;
  flex-direction: column;
  
}


.create-blog-container input[type="file"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  width: 90%;
  
}

.create-blog-container textarea {
  min-height: 150px;
  resize: vertical;
}

.create-blog-container button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create-blog-container button:hover {
  background-color: #218838;
}

.errorred {
  color: red;
  text-align: center;
  font-size: 13px;
  height: 5px;           /* fixed height */
  margin-top: -1px;
  overflow: hidden;
  visibility: hidden;
  /* margin-top: -0px; */
}

.errorred.visible {
  visibility: visible;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
.main-contentss{
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
  
}
.contented {
  flex: 1;
  padding: 10px;
  background-color: #fff;
}
.logout-btned{
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.title{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  width: 90%;
}
.description{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  width: 90%;
  height: 18px;
  margin-top: 20px;
}

